@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #c8c8c8;
}

body {
  margin: 0;
  background: #1c1e22;
  height: 100%;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 0.2rem;
  color: #ffe300;
  padding: 1rem;
}

.header span {
  padding: 0.2rem;
}
